# VS Code
.vscode/

# Compiled output
*.o
*.obj
*.out
*.exe
game.out

# Build folders
output/
build/

# Doxygen generated docs
docs/html/
docs/latex/

# Windows junk
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# MinGW / compiler
*.d
*.a
*.lib
*.pch